<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        <link type="text/css" rel="stylesheet" media="all" href="{{ asset('bundles/framework/css/bootstrap.css') }}" />
        <link type="text/css" rel="stylesheet" media="all" href="{{ asset('bundles/framework/css/body.css') }}" />
        <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            
            <script src="{{ asset('bundles/framework/js/jquery.js') }}"></script>
            <script src="{{ asset('bundles/framework/js/bootstrap-3.3.4.js') }}"></script>
            <script src="{{ asset('bundles/framework/js/app.js') }}"></script>

        {% endblock %}
    </body>
</html>
