a,p,h1,h2,input,button,label {
    font-family: 'Indie Flower', cursive;
}

a,p,input,button,label {
    font-size: 2em;
}

li{
    list-style-type: none;
}

.btn-post{
    padding-left: 43px;
    font-family: 'Indie Flower', cursive !important;
}

.btn-web{
     width: 60%;
     -webkit-border-radius: 38;
     -moz-border-radius: 38;
     border-radius: 38px;
     text-shadow: 2px 2px 3px #666666;
     color: black;
     font-size:42px !important;
     padding: 10px 20px 10px 20px;
     border: solid #1f628d 2px;
     text-decoration: none;
     background: white;
}

#form_filename{
    margin: 4px 6px 8px 10px;
    display: inline;
}

#form_title{
    margin: 4px 6px 8px 10px;
    width: 80%;
}

#form_save{
     margin-left:33%;
     -webkit-border-radius: 28;
     -moz-border-radius: 28;
     border-radius: 28px;
     text-shadow: 1px 1px 3px #666666;
     font-family: 'Indie Flower', cursive;
     color: #ffffff;
     font-size: 20px;
     padding: 10px 20px 10px 20px;
     border: solid #1f628d 2px;
     text-decoration: none;
     background: #3498db;
}

.margin-top60{
   margin-top:60px;
} 

.black{
   color:black; 
}

.error{
    color:red;
    font-size:2em;
    margin-left:30px;
}

.list{
    margin-top: 27px;
    font-size:2em;
    padding-bottom:20px;
}