{% extends 'base.html.twig' %}
  
{% block body %}

   <div class="margin-top60">
       <div class="col-sm-offset-1 col-sm-3">
            <h1>POSTS: <span id="posts">{{ posts|length}}</span></h1>
       </div>

       <div class="col-sm-3">
         <a class="btn-web" href="{{ path('export_route_name') }}">Export CVS</a>
       </div>  

        <div class="col-sm-offset-1 col-sm-3">
            <h1>VIEWS: <span id="views">0</span></h1>
       </div>
   </div>   
   <hr>
   <div class="col-sm-offset-1 col-sm-10 margin-top60">
       <div class="btn-post">
        {{ form_start(form) }}
            {# ... #}
            {{ form_row(form.title) }}
            {{ form_row(form.filename) }}
        {{ form_end(form) }}
        </div>   
       <div class="error">{{ errors }}</div>
   </div>  

   <div class="col-sm-offset-3 col-sm-5">
     <ul>
         <div class="list">
         {% if posts|default is not empty %}
            {% for post in posts %}
               
                    <li>
                        <a class="title" target="_blank" href="api/posts/{{ post.id }}"><h1>{{ post.title }}</h1>
                        <img class="img-responsive" src="uploads/images/{{ post.filename }}" /></a>
                    </li>    
                    <hr>
             
            {% endfor %}
          {% endif %}
         </div>  
     </ul>
   </div>

{% endblock %}